# macOS
.DS_Store
# Logs
*.log
# Environment variables
.env
# Dependencies
node_modules/
# Build output
dist/
build/
# IDEs
.vscode/
.idea/
# OS
Thumbs.db
# Daten
data/raw/
data/processed/*
!data/processed/.gitkeep
# Python cache
__pycache__/
*.pyc