# Core Data Science
numpy
pandas

# Visualisation 
matplotlib
seaborn

# Statistics & Time-Series
statsmodels
scipy

# Machine Learning 
scikit-learn

# Forecasting
prophet

# Dashboard / Presentation 
dash